<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <mapping class="scm.ojt.project.persistence.entity.User" />
        <mapping class="scm.ojt.project.persistence.entity.Medicine" />
        <mapping class="scm.ojt.project.persistence.entity.Category" />
        <mapping class="scm.ojt.project.persistence.entity.Order" />
        <mapping class="scm.ojt.project.persistence.entity.OrderDetail" />
        <mapping class="scm.ojt.project.persistence.entity.Cart" />
        <mapping class="scm.ojt.project.persistence.entity.CartDetail" />
    </session-factory>
</hibernate-configuration> 